# Análisis e Implementación en SparkQL

* Entrega hasta el 24 de mayo en https://forms.gle/aRiWtjayausRFCTd8

* Los dos conjuntos de datos entregados, CSV separados por coma, Evaluación del Pitch (2021.04.13 ISoftware).csv y Asistencia del Pitch (2021.04.13 ISoftware).csv proceden de dos encuestas realizadas con Google Forms.

* Los archivos proceden de las evaluaciones de los pitch (exposiciones cortas de negocio) que realizan los estudiantes de la asignatura de Ingeniería de Software. Los estudiantes están organizados en equipos. Cada equipo realiza una presentación de máximo 15 minutos, una vez inicia la presentación todos los estudiantes deben registrar su asistencia lo cual queda registrado en 'Asistencia del Pitch (2021.04.13 ISoftware).csv' incluidos los miembros del equipo.

* El archivo `Asistencia del Pitch (2021.04.13 ISoftware).csv` contiene las columnas: `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto,`"Equipo al que perteneces:"` equipo de trabajo al que pertenece el estudiante también es texto y `"Equipo que va a exponer:"` equipo que el estudiante va a tender a su presentación.

* El archivo `Evaluación del Pitch (2021.04.13 ISoftware).csv` contiene las columnas `"Marca temporal"` es tiempo dado en fecha y hora, `"Nombre de usuario"` es el correo electrónico del estudiante y es texto, `"Equipo que vas a evaluar:"` equipo que ha expuesto y que va a ser evaluado por cada estudiante que no sea integrante; a continuación, se tienen las siguientes columnas que corresponden a la evaluación de los respectivos ítems:

    1. "Introducción: El equipo responde adecuadamente ¿Quiénes son y por qué están aquí?",
    2. "Equipo: El equipo responde adecuadamente ¿Quiénes están detrás de la idea y cuál es su función?",
    3. "Problema: El equipo responde adecuadamente ¿Qué problema resolverá?, ¿es realmente un problema?",
    4. "Ventajas: El equipo responde adecuadamente ¿Por qué su solución es especial?, ¿qué la hace distinta de otras?",
    5. "Solución: El equipo responde adecuadamente ¿Cómo piensa resolver el problema?",
    6. "Producto: El equipo responde adecuadamente ¿Cómo funciona el producto o servicio? Muestra algunos ejemplos.",
    7. "Tracción: El equipo responde adecuadamente si cuenta con clientes que demuestran potencial.",
    8. "Mercado: El equipo responde conoce, o por lo menos intentar predecir, el tamaño del mercado que impactará.",
    9. "Competencia: El equipo responde adecuadamente ¿Cuáles son las soluciones alternativas al problema que plantea?",
    10. "Modelo de negocio: El equipo responde adecuadamente ¿Cómo hará dinero? ",
    11. "Inversión: El equipo responde adecuadamente ¿Cuál es su presupuesto y cuánto espera ganar?",
    12. "Contacto: El equipo deja los datos al cliente y muestra cómo pueden contactarle.",
    13. "Exposición: ¿Qué tan coordinados estaban los expositores?",
    14. "Exposición: ¿Los expositores se expresaron con claridad y se hicieron entender?",
    15. "Exposición: Las diapositivas son claras y coherentes y apoyaron adecuadamente la exposición.",
    * "Suponiendo que eres inversionista, ¿Estarías dispuesto a invertir dinero en este equipo? (esta pregunta no se pondera en la nota)",
    * "Observaciones para el equipo, estas observaciones las debe considerar el equipo para mejorar la siguiente presentación."


* Cada ítem se evalúa con la siguiente escala: 0. Ausente; 1. Deficiente; 2. Regular; 3. Aceptable; 4. Bueno; 5. Excelente

* Carge los datos, cada archivo en una tabla SparkSQL y responda cada una de las consultas dadas en cada celda. Tenga en cuenta que algunas consultas pueden tener como resultado el vacío.

# Integrantes del equipo
1. Yuliana Franco Noreña
2. Laura Isaza Echeverri
3. Juan Fernando Aldana Bohorquez
4.
5.

In [1]:
# Agrege acá el código para importar las librerias

# La libreria para "encontrar el sevicio" de Spark
import findspark
findspark.init()

# Librerias para "gestionar el servicio" de Spark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext, SparkSession

# Creamos una aplicación Spark en el Servicio
# Tenga cuidado con las tildes o caracteres especiales en el nombre de la app
AppSpark = SparkConf().setAppName("Evaluacion iSofware")

# definimos un espacio o contexto para la App
ContextoSpark=SparkContext(conf=AppSpark)

# inicio una sesión en el espacio de la App
SesionSpark = SparkSession(ContextoSpark)

# inicio del espacio o contexto SQL
ContextoSql = SQLContext(sparkContext=ContextoSpark, sparkSession=SesionSpark)

In [ ]:
# 1. Cargue los datos en la carpeta datalake y luego del /datalake al HDFS (Hadoop File System)
# Recuerda usar ! para ejecutar el comando en el shell. 
# Tu código a continuación...
!hadoop fs -put asistencia1.csv
!hadoop fs -put EvaluaPitch.csv

In [2]:
# 2. Cree dos tablas SparkSQL y almacene el csv en su correspondiente tabla.
# Observación: tenga especial cuidado con los encabezados de los archivos CSV.
# Usted puede considerar cambiar los encabezados de los CSV originales
# Tu código a continuación...


ContextoSql.sql("""
CREATE TABLE
  tabla_asistencia
  USING CSV
OPTIONS (path 'asistencia1.csv', header 'true')
""")

ContextoSql.sql("""
CREATE TABLE
  tabla_evaluacion
  USING CSV
OPTIONS (path 'EvaluaPitch.csv', header 'true')
""")

DataFrame[]

In [3]:
ContextoSql.sql('show tables').show();

+--------+----------------+-----------+
|database|       tableName|isTemporary|
+--------+----------------+-----------+
| default|tabla_asistencia|      false|
| default|tabla_evaluacion|      false|
+--------+----------------+-----------+

In [4]:
consultaasistencia = ContextoSql.sql("""SELECT * FROM tabla_asistencia""")
consultaasistencia.show(5)

+--------------------+--------------------+--------------------+--------------------+
|      Marca_temporal|   Nombre_de_usuario|   Equipo_perteneces|      Equipo_exponer|
+--------------------+--------------------+--------------------+--------------------+
|2021/04/08 8:07:5...|jppinedal@unal.ed...|Pertenezco a: Ser...|Expone: Servicios...|
|2021/04/08 8:09:3...|dgarciabl@unal.ed...|Pertenezco a: Lo ...|Expone: Lo tengo ...|
|2021/04/08 8:09:5...|auarbelaeza@unal....|Pertenezco a: Ges...|Expone: Te lo cam...|
|2021/04/08 8:09:5...|jmunozhe@unal.edu.co|Pertenezco a: Lo ...|Expone: Te lo cam...|
|2021/04/08 8:10:0...|dgerenal@unal.edu.co|Pertenezco a: Te ...|Expone: Te lo cam...|
+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [5]:
consultaasistencia.printSchema()

root
 |-- Marca_temporal: string (nullable = true)
 |-- Nombre_de_usuario: string (nullable = true)
 |-- Equipo_perteneces: string (nullable = true)
 |-- Equipo_exponer: string (nullable = true)

In [6]:
# 2. Consulte el listado total de estudiantes (correos electrónicos) del 
# curso de Ingeniería de Software, ordenados alfabéticamente
# Tu código a continuación...
students = ContextoSql.sql("""SELECT DISTINCT Nombre_de_usuario
FROM tabla_asistencia
ORDER BY Nombre_de_usuario ASC
""")
students.show(25)

+--------------------+
|   Nombre_de_usuario|
+--------------------+
| abanolc@unal.edu.co|
|acastrillonv@unal...|
| aflemag@unal.edu.co|
|anapariciom@unal....|
|angutierrezb@unal...|
|anoriega@unal.edu.co|
|auarbelaeza@unal....|
| bocampo@unal.edu.co|
|cgiraldo@unal.edu.co|
|cjfunezg@unal.edu.co|
|cquinchiar@unal.e...|
| dadazam@unal.edu.co|
|daestradam@unal.e...|
|davgarciava@unal....|
|dballesteroso@una...|
|  dbrito@unal.edu.co|
|dcadavid@unal.edu.co|
|dcardonaal@unal.e...|
|dchavarriar@unal....|
|dgarciabl@unal.ed...|
|dgerenal@unal.edu.co|
|dgiraldolo@unal.e...|
|dguardia@unal.edu.co|
|dosoriom@unal.edu.co|
| eapenad@unal.edu.co|
+--------------------+
only showing top 25 rows

In [7]:
# 3. Consulte la cantidad de asistencias registradas por estudiante; además, la fecha y hora de la primera asistencia
# y la fecha y hora de la última asistencia
# Tu código a continuación...

students_count = ContextoSql.sql("""
  SELECT Nombre_de_usuario,COUNT(Nombre_de_usuario) AS CANTIDAD, MIN(CAST(UNIX_TIMESTAMP(REPLACE(SUBSTRING(Marca_temporal,1,18),"/","-"),"yyyy-MM-dd HH:mm:ss") AS TIMESTAMP)) AS Minimo,
         MAX(CAST(UNIX_TIMESTAMP(REPLACE(SUBSTRING(Marca_temporal,1,18),"/","-"),"yyyy-MM-dd HH:mm:ss") AS TIMESTAMP)) AS Maximo
FROM tabla_asistencia
GROUP BY Nombre_de_usuario
ORDER BY Nombre_de_usuario ASC
""")
students_count.show(25,truncate =False)

+-------------------------+--------+-------------------+-------------------+
|Nombre_de_usuario        |CANTIDAD|Minimo             |Maximo             |
+-------------------------+--------+-------------------+-------------------+
|abanolc@unal.edu.co      |7       |2021-04-08 08:12:14|2021-04-13 09:37:56|
|acastrillonv@unal.edu.co |8       |2021-04-08 08:13:06|2021-04-13 09:43:13|
|aflemag@unal.edu.co      |8       |2021-04-08 08:11:58|2021-04-13 09:41:54|
|anapariciom@unal.edu.co  |10      |2021-04-08 08:11:49|2021-04-13 09:38:51|
|angutierrezb@unal.edu.co |8       |2021-04-08 08:19:06|2021-04-13 09:43:54|
|anoriega@unal.edu.co     |8       |2021-04-08 08:15:18|2021-04-13 09:40:20|
|auarbelaeza@unal.edu.co  |8       |2021-04-08 08:09:53|2021-04-13 09:41:04|
|bocampo@unal.edu.co      |8       |2021-04-08 08:13:30|2021-04-13 09:42:16|
|cgiraldo@unal.edu.co     |8       |2021-04-08 08:44:23|2021-04-13 09:56:44|
|cjfunezg@unal.edu.co     |8       |2021-04-08 08:12:15|2021-04-13 09:41:46|
|cquinchiar@unal.edu.co   |6       |2021-04-08 08:33:32|2021-04-13 09:49:09|
|dadazam@unal.edu.co      |9       |2021-04-08 08:13:18|2021-04-13 09:41:14|
|daestradam@unal.edu.co   |8       |2021-04-08 08:10:39|2021-04-13 09:44:39|
|davgarciava@unal.edu.co  |8       |2021-04-08 08:13:45|2021-04-13 09:42:39|
|dballesteroso@unal.edu.co|8       |2021-04-08 08:14:23|2021-04-13 09:49:07|
|dbrito@unal.edu.co       |7       |2021-04-08 08:19:07|2021-04-13 09:41:36|
|dcadavid@unal.edu.co     |8       |2021-04-08 08:13:07|2021-04-13 09:40:58|
|dcardonaal@unal.edu.co   |8       |2021-04-08 08:12:03|2021-04-13 09:42:14|
|dchavarriar@unal.edu.co  |8       |2021-04-08 08:13:08|2021-04-13 09:43:56|
|dgarciabl@unal.edu.co    |9       |2021-04-08 08:09:39|2021-04-13 09:41:04|
|dgerenal@unal.edu.co     |8       |2021-04-08 08:10:03|2021-04-13 09:41:27|
|dgiraldolo@unal.edu.co   |8       |2021-04-08 08:12:03|2021-04-13 09:09:01|
|dguardia@unal.edu.co     |8       |2021-04-08 08:12:56|2021-04-13 09:40:35|
|dosoriom@unal.edu.co     |7       |2021-04-08 08:28:12|2021-04-13 09:57:53|
|eapenad@unal.edu.co      |8       |2021-04-08 08:12:51|2021-04-13 09:39:49|
+-------------------------+--------+-------------------+-------------------+
only showing top 25 rows

In [8]:
# 4. Consulte el listado de estudiantes que asistieron a 2 presentaciones o menos (una).
# Tu código a continuación...
asistencia_presentaciones= ContextoSql.sql("""
SELECT * FROM(SELECT Nombre_de_usuario, COUNT(Nombre_de_usuario) AS Conteo
FROM tabla_asistencia 
GROUP BY Nombre_de_usuario
ORDER BY Conteo ASC)
WHERE Conteo <= 2

""")

asistencia_presentaciones.show(5, truncate=False)

+---------------------+------+
|Nombre_de_usuario    |Conteo|
+---------------------+------+
|jdroldano@unal.edu.co|1     |
+---------------------+------+

In [9]:
# 5. Consulte el listado de estudiantes que no asistieron a ninguna presentación.
# Tu código a continuación...
asistencianulos= ContextoSql.sql("""
SELECT Nombre_de_usuario 
FROM tabla_evaluacion 
WHERE El_equipo_responde_adecuadamente = 0

""")
asistencianulos.show()

+-----------------+
|Nombre_de_usuario|
+-----------------+
+-----------------+

In [10]:
# 6. Consulte los integrantes por cada equipo al que pertenecen.
# Tu código a continuación...

equipo_pertenece= ContextoSql.sql("""
SELECT SUBSTRING(Equipo_perteneces, 14, 55) AS Nombre_equipo, COUNT(Equipo_perteneces) AS Conteo
FROM tabla_asistencia 
GROUP BY Nombre_equipo
""")

equipo_pertenece.show(10, truncate=False)

+------------------------------------------------------+------+
|Nombre_equipo                                         |Conteo|
+------------------------------------------------------+------+
| Lo tengo y te lo presto.                             |87    |
| Gestión de Residencias y Habitaciones Universitarias.|86    |
| Gestión de programas curriculares                    |73    |
| Mi Sanandresito                                      |83    |
| Servicios a domicilio                                |65    |
| Administración de Inmuebles                          |95    |
| Te lo cambio.                                        |89    |
| Gestión de Menús Ejecutivos                          |84    |
+------------------------------------------------------+------+

In [11]:
# 7. Consulte la cantidad de asistentes por presentación, sin considerar los asistentes que pertenecen 
# al equipo que realizó la presentación.
# Tu código a continuación...

presentaciones= ContextoSql.sql("""
SELECT SUBSTRING(Equipo_Exponer, 8, 55) AS Nombre_exponer, COUNT(Equipo_Exponer) AS Conteo
FROM tabla_asistencia 
WHERE SUBSTRING(Equipo_perteneces, 14, 55) <> SUBSTRING(Equipo_Exponer, 8, 55)
GROUP BY Nombre_exponer
""")

presentaciones.show(10, truncate=False)

+------------------------------------------------------+------+
|Nombre_exponer                                        |Conteo|
+------------------------------------------------------+------+
| Lo tengo y te lo presto.                             |75    |
| Gestión de Residencias y Habitaciones Universitarias.|72    |
| Gestión de programas curriculares                    |74    |
| Mi Sanandresito                                      |72    |
| Deserción de estudiantes                             |3     |
| Servicios a domicilio                                |76    |
| Administración de Inmuebles                          |70    |
| Te lo cambio.                                        |75    |
| Gestión de Menús Ejecutivos                          |72    |
+------------------------------------------------------+------+

In [12]:
# 8. Consutar cuáles integrantes evaluaron a su propio equipo. Estas evaluaciones no serán válidas, pues un
# integrante no puede evaluar a su propio equipo.
# Tu código a continuación...

evaluaciones_iguales= ContextoSql.sql("""
SELECT Nombre_de_usuario, COUNT(Nombre_de_usuario) AS Conteo
FROM tabla_asistencia 
WHERE SUBSTRING(Equipo_perteneces, 14, 55) = SUBSTRING(Equipo_Exponer, 8, 55)
GROUP BY Nombre_de_usuario
ORDER BY Conteo DESC
""")

evaluaciones_iguales.show(10, truncate=False)

+-------------------------+------+
|Nombre_de_usuario        |Conteo|
+-------------------------+------+
|jovillarrealm@unal.edu.co|2     |
|sasalazarr@unal.edu.co   |2     |
|jspatinoa@unal.edu.co    |2     |
|dgarciabl@unal.edu.co    |2     |
|nvalenciat@unal.edu.co   |1     |
|jruedat@unal.edu.co      |1     |
|serendona@unal.edu.co    |1     |
|dcadavid@unal.edu.co     |1     |
|dgerenal@unal.edu.co     |1     |
|juriveras@unal.edu.co    |1     |
+-------------------------+------+
only showing top 10 rows

In [13]:
# 9. Consultar la nota promedio por cada ítem (1 al 15), y la nota promedio total del cada equipo. Recuerde que no
# son válidas las evaluaciones realizadas por los miembros del mismo equipo.
# Tu código a continuación...
notas= ContextoSql.sql("""
SELECT ROUND(AVG(INT(El_equipo_responde_adecuadamente)),3) AS Nota1,
       ROUND(AVG(INT(Quienes_estan_detras_de_la_idea)),3) AS Nota2,
       ROUND(AVG(INT(Que_problema_resolvera)),3) AS Nota3,
       ROUND(AVG(INT(Por_que_su_solucion_es_especial)),3) AS Nota4,
       ROUND(AVG(INT(Como_piensa_resolver_el_problema)),3) AS Nota5,
       ROUND(AVG(INT(Como_funciona_el_producto)),3) AS Nota6,
       ROUND(AVG(INT(cuenta_con_clientes_que_demuestran_potencial)),3) AS Nota7,
       ROUND(AVG(INT(predecir_el_tamano_del_mercado)),3) AS Nota8,
       ROUND(AVG(INT(Cuales_son_las_soluciones_alternativas)),3) AS Nota9,
       ROUND(AVG(INT(Como_hara_dinero)),3) AS Nota10,
       ROUND(AVG(INT(Cual_es_su_presupuesto)),3) AS Nota11,
       ROUND(AVG(INT(cliente_y_muestra_como_pueden_contactarle)),3) AS Nota12,
       ROUND(AVG(INT(Que_tan_coordinados_estaban_los_expositores)),3) AS Nota13,
       ROUND(AVG(INT(Los_expositores_se_expresaron_con_claridad)),3) AS Nota14,
       ROUND(AVG(INT(Las_diapositivas_son_claras)),3) AS Nota15
FROM tabla_evaluacion 

""")
notas.show()

+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+
|Nota1|Nota2|Nota3|Nota4|Nota5|Nota6|Nota7|Nota8|Nota9|Nota10|Nota11|Nota12|Nota13|Nota14|Nota15|
+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+
|4.364|4.298|4.378|4.169|4.382|4.437|4.246|4.333|4.183| 4.411| 4.225| 4.512| 4.436| 4.432| 4.467|
+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+

In [14]:
join= ContextoSql.sql("""SELECT SUBSTRING(tabla_asistencia.Equipo_perteneces, 14, 55) AS Nombre_Equipo, 
                                ROUND(AVG(INT(tabla_evaluacion.El_equipo_responde_adecuadamente)),3) AS Nota1,
                                ROUND(AVG(INT(tabla_evaluacion.Quienes_estan_detras_de_la_idea)),3) AS Nota2, 
                                ROUND(AVG(INT(tabla_evaluacion.Que_problema_resolvera)),3) AS Nota3,
                                ROUND(AVG(INT(tabla_evaluacion.Por_que_su_solucion_es_especial)),3) AS Nota4,
                                ROUND(AVG(INT(tabla_evaluacion.Como_piensa_resolver_el_problema)),3) AS Nota5,
                                ROUND(AVG(INT(tabla_evaluacion.Como_funciona_el_producto)),3) AS Nota6,
                                ROUND(AVG(INT(tabla_evaluacion.cuenta_con_clientes_que_demuestran_potencial)),3) AS Nota7,
                                ROUND(AVG(INT(tabla_evaluacion.predecir_el_tamano_del_mercado)),3) AS Nota8,
                                ROUND(AVG(INT(tabla_evaluacion.Cuales_son_las_soluciones_alternativas)),3) AS Nota9,
                                ROUND(AVG(INT(tabla_evaluacion.Como_hara_dinero)),3) AS Nota10,
                                ROUND(AVG(INT(tabla_evaluacion.Cual_es_su_presupuesto)),3) AS Nota11,
                                ROUND(AVG(INT(tabla_evaluacion.cliente_y_muestra_como_pueden_contactarle)),3) AS Nota12,
                                ROUND(AVG(INT(tabla_evaluacion.Que_tan_coordinados_estaban_los_expositores)),3) AS Nota13,
                                ROUND(AVG(INT(tabla_evaluacion.Los_expositores_se_expresaron_con_claridad)),3) AS Nota14,
                                ROUND(AVG(INT(tabla_evaluacion.Las_diapositivas_son_claras)),3) AS Nota15  FROM tabla_asistencia                                   
                                LEFT JOIN tabla_evaluacion ON tabla_asistencia.Nombre_de_usuario = tabla_evaluacion.Nombre_de_usuario  
                               WHERE SUBSTRING(tabla_asistencia.Equipo_perteneces, 14, 55) <> SUBSTRING(tabla_asistencia.Equipo_Exponer, 8, 55)
                               GROUP BY tabla_asistencia.Equipo_perteneces
                                    
""")
join.show()

+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+
|       Nombre_Equipo|Nota1|Nota2|Nota3|Nota4|Nota5|Nota6|Nota7|Nota8|Nota9|Nota10|Nota11|Nota12|Nota13|Nota14|Nota15|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+
| Gestión de Menús...|4.102|3.949|4.177|3.908|4.133|4.352|4.132|4.282|4.128| 4.299| 4.096| 4.344| 4.331| 4.412| 4.402|
| Lo tengo y te lo...| 4.11|4.002|4.197|3.839| 4.21|4.235|4.192|4.278|3.772| 4.065| 3.899| 4.233| 4.206| 4.165|  4.23|
| Administración d...|4.503| 4.45|4.538|4.329|4.521|4.584|4.402|4.367|4.309|  4.39| 4.307| 4.714| 4.505| 4.452| 4.567|
| Servicios a domi...|4.401|4.292|4.416| 4.27|4.394|4.327|4.183|4.332|4.069| 4.567| 4.213| 4.369| 4.389| 4.384| 4.339|
|       Te lo cambio.|4.379| 4.44|4.582|4.375|4.388|4.244|4.326|4.341|4.313| 4.407| 4.403| 4.601| 4.396| 4.509| 4.584|
| Gestión de Resid...|4.008|4.023|3.893|3.741|4.163| 4.25|3.792|4.034|3.812| 4.173| 3.869| 4.315| 4.341| 4.165| 4.212|
| Gestión de progr...|4.733|4.653|4.597|4.472|4.619|4.708|4.519|4.673|4.548| 4.682| 4.428| 4.766| 4.682| 4.768| 4.661|
|     Mi Sanandresito|4.726| 4.63|4.699|4.536|4.693|4.855|4.509| 4.44|4.603| 4.843| 4.681| 4.773| 4.714| 4.658| 4.785|
+--------------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+------+------+------+------+------+

In [15]:
# 10. Consulte el mejor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el mejor equipo según el promedio total.
# Tu código a continuación...
from pyspark.sql.functions import array, col, explode, lit, struct
from pyspark.sql import DataFrame
from typing import Iterable

def melt_df(
        df: DataFrame,
        id_vars: Iterable[str], value_vars: Iterable[str],
        var_name: str="variable", value_name: str="value") -> DataFrame:
    

    
    _vars_and_vals = array(*(
        struct(lit(c).alias(var_name), col(c).alias(value_name))
        for c in value_vars))

    
    _tmp = df.withColumn("_vars_and_vals", explode(_vars_and_vals))

    cols = id_vars + [
            col("_vars_and_vals")[x].alias(x) for x in [var_name, value_name]]
    return _tmp.select(*cols)

columns_names = ['Nombre_Equipo',
 'Nota1',
 'Nota2',
 'Nota3',
 'Nota4',
 'Nota5',
 'Nota6',
 'Nota7',
 'Nota8',
 'Nota9',
 'Nota10',
 'Nota11',
 'Nota12',
 'Nota13',
 'Nota14',
 'Nota15']

melt_join = melt_df(join, ['Nombre_Equipo'], columns_names[1:16], 'Nota', 'Valor')

In [25]:
notamaxima = melt_join.select("Nota","Valor").groupby("Nota").max()
notamaxima = notamaxima.toDF("Nota", "Valor")
notamaxima_equipo = notamaxima.join(melt_join, on=["Valor","Nota"], how='left')
notamaxima_equipo.show(20)

+-----+------+--------------------+
|Valor|  Nota|       Nombre_Equipo|
+-----+------+--------------------+
|4.855| Nota6|     Mi Sanandresito|
|4.768|Nota14| Gestión de progr...|
|4.733| Nota1| Gestión de progr...|
|4.699| Nota3|     Mi Sanandresito|
|4.673| Nota8| Gestión de progr...|
|4.536| Nota4|     Mi Sanandresito|
|4.773|Nota12|     Mi Sanandresito|
|4.843|Nota10|     Mi Sanandresito|
|4.519| Nota7| Gestión de progr...|
|4.693| Nota5|     Mi Sanandresito|
|4.714|Nota13|     Mi Sanandresito|
|4.785|Nota15|     Mi Sanandresito|
|4.603| Nota9|     Mi Sanandresito|
|4.681|Nota11|     Mi Sanandresito|
|4.653| Nota2| Gestión de progr...|
+-----+------+--------------------+

In [26]:
notaequipo = melt_join.groupby("Nombre_Equipo").mean()
notaequipo = notaequipo.toDF("Nombre_Equipo", "Valor")
mejorequipo = notaequipo.orderBy("Valor", ascending=False)
mejorequipo.show(1)

+----------------+-----------------+
|   Nombre_Equipo|            Valor|
+----------------+-----------------+
| Mi Sanandresito|4.676333333333332|
+----------------+-----------------+
only showing top 1 row

In [27]:
# 11. Consulte el peor equipo evaluado por cada ítem (según nota promedio. En caso de empate mostrar todos los empatados) 
# y el peor equipo según el promedio total.
# Tu código a continuación...

notaminima = melt_join.groupby("Nota").min()
notaminima = notaminima.toDF("Nota", "Valor")
notaminima_equipo = notaminima.join(melt_join, on=["Valor","Nota"], how='left')
notaminima_equipo = notaminima_equipo.select("Nota","Nombre_Equipo","Valor")
notaminima_equipo.show(20)

+------+--------------------+-----+
|  Nota|       Nombre_Equipo|Valor|
+------+--------------------+-----+
| Nota2| Gestión de Menús...|3.949|
|Nota11| Gestión de Resid...|3.869|
| Nota4| Gestión de Resid...|3.741|
| Nota5| Gestión de Menús...|4.133|
| Nota1| Gestión de Resid...|4.008|
|Nota14| Lo tengo y te lo...|4.165|
|Nota14| Gestión de Resid...|4.165|
| Nota8| Gestión de Resid...|4.034|
|Nota10| Lo tengo y te lo...|4.065|
|Nota12| Lo tengo y te lo...|4.233|
|Nota15| Gestión de Resid...|4.212|
| Nota6| Lo tengo y te lo...|4.235|
| Nota7| Gestión de Resid...|3.792|
|Nota13| Lo tengo y te lo...|4.206|
| Nota9| Lo tengo y te lo...|3.772|
| Nota3| Gestión de Resid...|3.893|
+------+--------------------+-----+

In [29]:
peorequipo = notaequipo.orderBy("Valor", ascending=True)
peorequipo.show(1)

+--------------------+-----------------+
|       Nombre_Equipo|            Valor|
+--------------------+-----------------+
| Gestión de Resid...|4.052733333333333|
+--------------------+-----------------+
only showing top 1 row

In [119]:
# 12. Consulte la lista de estudiantes con la correspondiente nota obtenida en la presentación 
# (nota promedio total de la evaluación obtenida por el equipo)
# Tu código a continuación...

estudiantes = ContextoSql.sql("""SELECT Nombre_de_usuario,SUBSTRING(Equipo_perteneces, 14, 55) AS Nombre_Equipo FROM tabla_asistencia""")
estudiantes_nota =  estudiantes.join(notaequipo, on=["Nombre_Equipo"], how='left')
estudiantes_nota = estudiantes_nota.select("Nombre_de_usuario","Valor")
notaminima = notaminima.toDF("Nombre_de_usuario", "Nota")
estudiantes_nota.show()

+--------------------+-----------------+
|   Nombre_de_usuario|            Valor|
+--------------------+-----------------+
|dgarciabl@unal.ed...|4.108866666666667|
|jmunozhe@unal.edu.co|4.108866666666667|
|daestradam@unal.e...|4.108866666666667|
|jlopezpe@unal.edu.co|4.108866666666667|
|lbarcelo@unal.edu.co|4.108866666666667|
|jlopezpe@unal.edu.co|4.108866666666667|
|jfernandezmo@unal...|4.108866666666667|
|dgiraldolo@unal.e...|4.108866666666667|
|jhcordoba@unal.ed...|4.108866666666667|
|jubuitrago@unal.e...|4.108866666666667|
|jcorreapa@unal.ed...|4.108866666666667|
| wocampo@unal.edu.co|4.108866666666667|
|jlopezpe@unal.edu.co|4.108866666666667|
|jlopezpe@unal.edu.co|4.108866666666667|
|daestradam@unal.e...|4.108866666666667|
|lbarcelo@unal.edu.co|4.108866666666667|
|jmunozhe@unal.edu.co|4.108866666666667|
|jfernandezmo@unal...|4.108866666666667|
|jcorreapa@unal.ed...|4.108866666666667|
|dgiraldolo@unal.e...|4.108866666666667|
+--------------------+-----------------+
only showing top 20 rows

In [30]:
notaequipo.show()

+--------------------+-----------------+
|       Nombre_Equipo|            Valor|
+--------------------+-----------------+
| Lo tengo y te lo...|4.108866666666667|
| Gestión de Resid...|4.052733333333333|
| Gestión de progr...|4.633933333333333|
|     Mi Sanandresito|4.676333333333332|
| Servicios a domi...|4.329666666666667|
| Administración d...|4.462533333333334|
|       Te lo cambio.|           4.4192|
| Gestión de Menús...|4.203133333333333|
+--------------------+-----------------+